@import './Variables.scss';

.font-title {
  color: $secondary;
  font-family: 'Squada One' !important;
}
.font-subtitle {
  font-family: 'Source Sans Pro' !important;
}

.anim {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;  
}

a.link {
  @extend .anim;
  cursor: pointer !important;
  color: rgba($primary, .7);
  border-bottom: 1px solid rgba($primary, 0);
  display: inline-block !important;
  
  &:hover {
    color: $secondary;
    border-bottom: 1px solid rgba($secondary, .7);
  }
}
