// $family-sans: 'Open Sans';
$body-background-color: #2c2c31 !default;
$text: #fff;
// $text: #282c34;
$body-text-color: $text !default;
$body-family: 'Source Sans Pro' !default;
$primary: #fff;
$secondary: #dead3b;
$radius: 6px;

$gap: 32px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: true !default;
