/*! bulma.io v0.7.5 | MIT License | github.com/jgthms/bulma */
@import './Variables.scss';
@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/sass/base/_all";
@import "../../../node_modules/bulma/sass/elements/container";
@import "../../../node_modules/bulma/sass/elements/title";
@import "../../../node_modules/bulma/sass/elements/button";
@import "../../../node_modules/bulma/sass/elements/image";
@import "../../../node_modules/bulma/sass/grid/columns";


@font-face{
  font-family: 'Squada One';
  font-style: normal;
  src:local('Squada One'), local('SquadaOne-Regular'), url(../fonts/Squada_One/SquadaOne-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-style: normal;
  src:local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
}
