@import '../../assets/scss/classes';
@import '../../assets/scss/variables';

.card {
  @extend .anim;
  background: #2f3034;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .card-header h2 {
    color: $secondary;
    font-family: 'Squada One' !important;
    flex: 1;
    position: relative;
    z-index: 1 !important;

    &:before {
      content: '';
      background: linear-gradient(0deg, rgba(0,0,0,.8) 13%, rgba(44,44,49,0) 100%);
      display: block;
      height: 100px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1 !important;
    }
  }

  .card-image {
    height: 200px;
    margin: -16px -16px 30px -16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card-icons {
    border-bottom: 1px solid darken($body-background-color, 5%);
    padding-bottom: 1px;
    margin-bottom: 20px;

    .column {
      position: relative;
      &:after {
        content: '';
        height: 50px;
        width: 1px;
        background: darken($body-background-color, 5%);
        position: absolute;
        right: 0;
        top: 10px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .card-footer {
    margin-bottom: 2px;
  }
}
