@import '../../assets/scss/variables';

.main-header {
  background: url(../../assets/images/bg_header.jpg) top left no-repeat;
  border-bottom: 1px solid #696969;
  margin-bottom: 50px;

  img, .death-star {
    margin: 0 auto;
  }
  img.main-logo {
    padding-top: 30px;
    width: 330px;
  }

  .death-star {
    height: 90px;
    width: 90px;
    margin-bottom: -34px;
    position: relative;

    img {
      width: 120px;
    }
  }

  @media (max-width: $tablet) {
    background-color: rgb(44,44,49);
    background: linear-gradient(0deg, rgba(44,44,49,1) 23%, rgba(44,44,49,0) 100%), url(../../assets/images/bg_header.jpg) top left no-repeat;

    img.main-logo {
      padding-top: 180px;
    }
  }
}