// @import '../../assets/scss/classes';
@import '../../assets/scss/variables';
footer {
  background: url('../../assets/images/bg_footer.jpg') top right no-repeat;
  height: 320px;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  opacity: .6;

  .note {
    align-self: flex-end;
    font-size: x-small;
    color: $text;
  }

  @media (max-width: $tablet) {
    background-size: 90%;
    background-position: bottom right;
    margin-top: 0;

    .note {
      align-self: center;
      font-size: small;
    }
  }
}
