@import '../../assets/scss/classes';
@import '../../assets/scss/variables';
@import '../../assets/scss/classes';

.characters {
  .box {
    background: #2f3034 url('../../assets/images/bg_box.jpg') center right no-repeat;
    background-size: 70%, 100%;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 10px 0 60px 0;
    padding: 100px 30px;
  }

  .subtitle {
    color: rgba($primary, .6);
    margin-top: 20px;
  }

  .link {
    font-size: .9rem;
    font-style: italic;
  }

}

.popupbox-wrapper.modal {
  background-color: #2f3034 !important;
  width: 70%;
  * {
    color: rgba(#fff, .7);
  }

  .character-image {
    background-position: top center !important;
    background-size: 100% !important;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    margin: -18px -24px 20px -24px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      background: linear-gradient(0deg, rgba(0,0,0,.8) 13%, rgba(44,44,49,0) 100%);
      display: block;
      height: 100px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1 !important;
    }

    .title {
      color: $secondary !important;
    }
  }

  .subtitle {
    margin-bottom: 0 !important;
  }

  .film-data {
    margin-bottom: 12px;
  }

  .section-content {
    ul {
      li {
        @extend .anim;
        border-bottom: 1px dotted rgba(#fff, .1);
        line-height: 130%;
        padding: 10px;

        strong {
          text-transform: uppercase;
        }

        &:hover {
          background: rgba(#fff, .3);
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .main {
    padding: 1.25rem;
  }

  .characters {
    .box {
      background-size: 140%;
      background-position-x: 50px; 
      padding: 30px;
    }
  }

  .popupbox-wrapper.modal {
    height: 90%;
    width: 100% !important;
    max-width: 90% !important;

    .popupbox-content {
      overflow: scroll !important;
    }
  }
}
